@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i');

body {
	background: #016FB9;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: #FAFAFA;
	margin: 0;
	padding: 0;
}
//Home.js
.header {
	display: flex;
	justify-content: center;
	margin-top: 100px;
	letter-spacing: .2px;

		img {
			margin-left: 10px;
		}

}

.instructions {
	display: flex;
	justify-content: center;
	margin-top: 10px;

		p {
			width: 25%;
			text-align: center;
			font-size: .9em;
			color: #C0C0C0;
		}
}

.zipcodeInput {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-top: 80px;

		form {

			input {
				padding: 10px 170px;
				border: none;
				border-radius: 2px;
				outline: none;
				background: #e8e8e8;
				padding-left: 10px;
				box-shadow: 1px 1px 2px #333;

			}

			button {
				padding: 10px 18px;
				border-radius: 2px;
				margin-left: 4px;
				border: none;
				background: #EC4E20;
				color: #FFF;
				box-shadow: 1px 1px 4px #333;
			}
		} 
}

//CurrentWeather.js

.homeBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;

		button {
			padding: 10px 22px;
			border-radius: 2px;
			margin-left: 4px;
			border: none;
			background: #a8a8a8;
			color: #FFF;
			box-shadow: 1px 1px 4px #333;
		}

}

.weatherCardContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #797979;
	margin-top: 100px;

	h4 {
		color: #a8a8a8;
	}

		.weatherCard {
			min-height: 320px;
			min-width: 320px;
			background: #FFF;
			box-shadow: 1px 1px 4px #333;
			border-radius: 2px;
			display: flex;
			flex-direction: column;
			align-items: center;
			position: relative;
			margin-top: 20px;

			img {
				margin-top: 20px;
			}

			.conditionsOverview {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				position: absolute;
				min-height: 350px;

				 p:nth-child(1) {
				 	font-size: 2.5em;
				 	font-weight: bold;
				 	margin-top: -10px;
				 	margin-bottom: -10px;
				 }

				 p:nth-child(2) {
				 	font-size: 1.2em;
				 }
			}

			.conditionDetails {
				position: absolute;
				bottom: 0;
				display: flex;
				justify-content: space-around;
				width: 100%;
				margin-bottom: 20px;
				font-size: .9em;
				color: #595959;

			}
		}

		.weatherCardError {
			min-height: 320px;
			min-width: 320px;
			background: #FFF;
			box-shadow: 1px 1px 4px #333;
			border-radius: 2px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			position: relative;

			p {
				width: 70%;
				text-align: center;
			}

			button {
				padding: 10px 22px;
				border-radius: 2px;
				margin-left: 4px;
				border: none;
				background: #EC4E20;
				color: #FFF;
				box-shadow: 1px 1px 4px #333;
				margin-top: 20px;
			}
		}
}

//CurrentWeather.js Loading Icon
.loading  {

	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

	.loadingIcon {
		transform: rotate(20deg);
		animation: rotateLoading 1.5s ease-in-out infinite;
	}

	@keyframes rotateLoading {
		from { transform: rotate(0deg) }
		to { transform: rotate(360deg) }
}
}




//ErrorDisplay.js

.error {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

		p {
			margin-top: 20px;
		}

		button {
			padding: 10px 22px;
			border-radius: 2px;
			margin-left: 4px;
			border: none;
			background: #a8a8a8;
			color: #FFF;
			box-shadow: 1px 1px 4px #333;
			margin-top: 30px;
			cursor: pointer;
		}
}

